<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../css/page.css">
	</head>   
	<body style="width:100%;padding:0px;margin:0px">
		<header>
			<div class="header" >
				<div class="header-container">
					<div class="search-field">
						
						<input type="text" placeholder=" 搜索你想要的" class="input-field">
						
						<div class="img-field">
							<a class="normal-a">
								<img src="../img/search.png" class="search-img"/>
							</a>
						</div>
					</div>
					<nav class="navigation">
						<a href="#">博客首页</a>
						<a href="#">随笔</a>
						<a href="#">简历</a>
					</nav>
					
				</div>
			</div>	
		</header>
		<div class="container" style="width:100%;margin:30 0 0 0;float:left;height:500px;">
			<div class="tree">
				<span class="normal-text">热门标签</span>
				<ul>
					<li class="list">
						<a>c++</a>
					</li>
					<li class="list">
						<a>JavaScript</a>
					</li>
					<li class="list">
						<a>Node.js</a>
					</li>
					<li class="list">
						<a>React.js</a>
					</li>
				</ul>
				
			</div>
			<div class="content" >
				<div class="title-div">
					<h2>如何克服HTML5的性能障碍</h2>
					<div class="topic">
						<a  href="#" class="topic-name">
							<span>功能</span>
						</a>
						
					</div>
				</div>
				<div class="article-div">
					<h1>Internet Explorer 9</h1>
					<p>Windows Internet Explorer 9（简称 IE9）于 2011 年 3 月 14 日发布.....</p>
					<pre>
if(a>0)
	printf("HelloWorld");
else
	printf("Noway");
		
					</pre>
				</div>
				
				
			</div>
			<div class="nagivator"></div>
			
		</div>
		
	</body>
</html>